.cta {
  background-position: bottom right;
  background-size: 327px;
}

.cta-content {
  max-width: 580px;
}

@media screen and (max-width: 999px) {
  .cta {
    background-size: 250px;
  }
  .cta-content {
    max-width: 500px;
  }
}

@media screen and (max-width: 767px) {
  .cta {
    background-position: bottom center !important;
    background-size: 200px;
  }
  .cta-content {
    max-width: 100%;
  }
}

.subscribe-btn {
  background: var(--paletteColor6, #f8c341) !important;
}

.subscribe-btn:hover {
  background: var(--paletteColor6, #f8c341)
    linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)) !important;
}

.contribute-btn {
  background: var(--paletteColor1, #f8c341) !important;
}

.contribute-btn:hover {
  background: var(--paletteColor1, #f8c341)
    linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)) !important;
}
